<% link_to 'criar produto', new_product_path %>

<% @products.each do |product| %>

        <p> Nome: <%= product.name %> </p>
        <p> Preço: <%= product.price %> </p>
        <p> Quantidade: <%= product.quantidade %> </p>

<%= link_to 'ver produto', product %>
<%= link_to 'editar produto', edit_product_path(product) %>

<% end %>